<footer class="page-footer teal" style="position:fixed;bottom:0;width:100%;">
   <div class="footer-copyright">
      <div class="container">
         © 2016 Christ University MBA Finance
         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
   </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>