<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Kuizz Up!</title>
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
   </head>
   <body>
      <header class="page-header">
         <div class="container">
            <h3 class="white-text text-lighten-2"><a href="/" class="teal-text text-lighten-2">Kuizz Up!</a></h3>
         </div>
      </header>