<% include partials/header %>
	<div class="container container-main"> 
 	  <p class="flow-text"><%= message %></p>
  </div>
	<style type="text/css">
		footer{
			bottom: 0 !important;
		}
	</style>
<% include partials/footer %>
