<% include partials/header %>
	<div class="container container-main"> 
 		<p class="flow-text"><%= output.correct %> answer(s) correct</p>
  </div>
  <style type="text/css">
	footer{
		position:fixed !important;
	}
	</style>
<% include partials/footer %>

