<% include partials/header %>
	<div class="container container-main"> 
    <h1 class="teal-text text-lighten-2">&nbsp;</h1>    
 		<p class="flow-text"><%= output.correct %> answer(s) correct</p>
  </div>
<% include partials/footer %>

